<div class="container">
    <h1>
        View Document
    </h1>
    <div class="div4">
        <div class="fw-icons col-lg-3 col-sm-6" style="float: left;"><a href="#"><i class="fa fa-plus"></i></a></div>
        <div class="fw-icons col-lg-3 col-sm-6 ml-5" style="float: left;"><a href="#"><i class="fa fa-print"></i> </a>
        </div>
    </div>
    <div class="div1">


        <label for="language"class="cr" >Product :</label>
        <select name="language" id="language" style="width: 200px;">
            <option value="javascript">JavaScript</option>
            <option value="python">Python</option>
            <option value="c++">C++</option>
            <option value="java" selected>All products</option>
        </select>

        <label for="language" class="cr">User :</label>
        <select name="language" id="language" style="width: 200px;">
            <option value="javascript">JavaScript</option>
            <option value="python">Python</option>
            <option value="c++">C++</option>
            <option value="java" selected>All users</option>
        </select>

        <label for="language" class="cr">Cash register :</label>
        <select name="language" id="language" style="width: 200px;">
            <option value="javascript" selected>All cash registers</option>
            <option value="python">Python</option>
            <option value="c++">C++</option>

        </select>

        <br>
        <label for="language" class="cr">Customer :</label>
        <select name="language" id="language" style="width: 200px;">
            <option value="javascript">JavaScript</option>
            <option value="python">Python</option>
            <option value="c++">C++</option>
            <option value="java" selected>All customers</option>
        </select>

        <label for="language" class="cr">Document type :</label>
        <select name="language" id="language" style="width: 200px;">
            <option value="javascript">JavaScript</option>
            <option value="python">Python</option>
            <option value="c++">C++</option>
            <option value="java" selected>All documents types</option>
        </select>

        <label for="language" class="cr">Paid status : </label>
        <select name="language" id="language" style="width: 200px;">
            <option value="javascript">JavaScript</option>
            <option value="python">Python</option>
            <option value="c++">C++</option>
            <option value="java" selected>All transactions</option>
        </select>
        <br>
        <label for="language" style="color: white;">Paid status :</label>
        <input style="width: 200px;">
        <label for="language" style="color: white;">Paid status :</label>
        <input style="width: 200px;">
        <label for="language" style="color: white;">Paid status :</label>
        <input style="width: 200px;">
    </div>Documents
    <div class="div2">
        <table class="table text-center">
            <th scope="col">Id</th>
            <th scope="col">Number</th>
            <th scope="col">External document</th>
            <th scope="col">Document type</th>
            <th scope="col">Paid</th>
            <th scope="col">Customer</th>
            <th scope="col">Date</th>
            <th scope="col">POS</th>
            <th scope="col">Order number</th>
            <th scope="col">User</th>
            <th scope="col">Discount</th>

        </table>
    </div>Documents items
    <div class="div3">
        <div class="div2">
            <table class="table text-center">
                <th scope="col">Id</th>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Unit of measure</th>
                <th scope="col">Paid</th>
                <th scope="col">Quantity </th>
                <th scope="col">Price before tax</th>
                <th scope="col">Tax</th>
                <th scope="col">Price</th>
                <th scope="col">Total before discount</th>
                <th scope="col">Discount</th>
                <th scope="col">Total</th>
            </table>
        </div>
    </div>

</div>