<div style="height: 100%;width: 100%;">
  <div class="container-1">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row no-gutters">
            <div [ngClass]="isCollapse==false ? 'col-sm-7':'col-sm-12'">
              <div class=" grid-col">
                <div class="ml-1" style="display: flex;">

                  <div class="fw-icons0 col-lg-1 col-sm-5"
                    [ngClass]="selectedType=='Delete'? 'selectedCss':'deselectedCss'">
                    <i class="fa fa-trash-o" (click)="openDeleteConfirmationModal()"></i>
                    <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isDeleteModalVisible}">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Confirm Deletion</h5>
                            <button type="button" class="close" aria-label="Close"
                              (click)="closeDeleteConfirmationModal()">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            Are you sure you want to delete this product?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                              (click)="closeDeleteConfirmationModal()">Cancel</button>
                            <button type="button" class="btn btn-danger" (click)="Delete()">Delete</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="fw-icons0 col-lg-1 col-sm-5"
                    [ngClass]="selectedType=='Edit'? 'selectedCss':'deselectedCss'">
                    <i class="fa fa-edit" (click)="Edit()"></i>
                  </div>
                  <div class="fw-icons0 col-lg-1 col-sm-5"
                    [ngClass]="selectedType=='all'? 'selectedCss':'deselectedCss'">
                    <i class="fa fa-asterisk" (click)="byALlSearch()"></i>
                  </div>
                  <div class="fw-icons0 col-lg-1 col-sm-5"
                    [ngClass]="selectedType=='id'? 'selectedCss':'deselectedCss'">
                    <i class="fa fa-info" (click)="byid()"></i>
                  </div>
                  <div class="fw-icons0 col-lg-1 col-sm-5"
                    [ngClass]="selectedType=='name'? 'selectedCss':'deselectedCss'">
                    <i class="fa fa-tag" (click)="byname()"></i>
                  </div>
                  <div class="col-lg-2 clearfix">
                    <div class="search-box">
                      <form (ngSubmit)="getProducts()">
                        <input type="text" name="search" placeholder="    Search Products By Name, Code or Bar code "
                          [(ngModel)]="searchValue" required>
                        <i class=" ti-search col-lg-11 "></i>
                      </form>
                    </div>
                  </div>
                  <div *ngIf="isCollapse==false" class="fw-icons0 col-lg-1 col-sm-5" style="margin-left: 35%;"
                    [ngClass]="selectedType=='id'? 'selectedCss':'deselectedCss'">
                    <i class="fa fa-arrow-circle-right" (click)="collapse(true)"></i>
                  </div>
                  <div *ngIf="isCollapse!=false" class="fw-icons0 col-lg-1 col-sm-5" style="margin-left: 35%;"
                    [ngClass]="selectedType=='id'? 'selectedCss':'deselectedCss'">
                    <i class="fa fa-arrow-circle-left" (click)="collapse(false)"></i>
                  </div>

                </div>
              </div>

              <div class="main-content-inner">
                <div class="row">
                  <!-- table primary start -->
                  <div class="form-container1">
                    <div class="card ">
                      <div class="card-body">
                        <div class="single-table">
                          <div class="table-responsive">
                            <table class="table text-center">
                              <thead class="text-uppercase bg-primary mb-3">
                                <tr class="text-white">
                                  <th scope="col">ID</th>
                                  <th scope="col">Name</th>
                                  <th scope="col">quantity</th>
                                  <th scope="col">buyPrice</th>
                                  <th scope="col">sellPrice</th>
                                  <th scope="col">UniqueNumber</th>

                                </tr>
                              </thead>
                              <tbody *ngIf="products.length>0">
                                <tr *ngFor="let prod of products ; let indexOfelement=index"
                                  (click)="selectedproductsRow(indexOfelement,prod)">

                                  <td [ngClass]="selectedRow==indexOfelement? 'selectedCss':'deselectedCss'">
                                    {{prod?.id}}</td>
                                  <td [ngClass]="selectedRow==indexOfelement? 'selectedCss':'deselectedCss'">
                                    {{prod?.name}}</td>
                                  <td [ngClass]="selectedRow==indexOfelement? 'selectedCss':'deselectedCss'">
                                    {{prod?.quantity}}</td>
                                  <td [ngClass]="selectedRow==indexOfelement? 'selectedCss':'deselectedCss'">
                                    {{prod?.buyPrice}}</td>
                                  <td [ngClass]="selectedRow==indexOfelement? 'selectedCss':'deselectedCss'">
                                    {{prod?.sellPrice}}</td>
                                  <td [ngClass]="selectedRow==indexOfelement? 'selectedCss':'deselectedCss'">
                                    {{prod?.uniqueNumber}}</td>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- table primary end -->

<div style="background-color: black;max-height: 250px;">

</div>



                </div>
                
              </div>


              
            </div>
            
            <div class="col-sm-5 custom-form-container" *ngIf="isCollapse==false">
              <div class="grid-col">

                <div>
                  <div class="card ">
                    <div class="card-body">

                      <div class="card-body">
                        <h4 class="header-title">Add Product</h4>
                        <div class="form-container">
                          <form [formGroup]="productsForm" (ngSubmit)="saveProduct()">
                            <div class="form-group">
                              <label for="name" class="col-form-label">Name</label>
                              <input class="form-control" type="text" formControlName="name" id="name">
                            </div>
                            <div class="form-group">
                              <label for="description" class="col-form-label">Description</label>
                              <input class="form-control" type="text" formControlName="description" id="description">
                            </div>
                            <div class="form-group">
                              <label for="uniqueNumber" class="col-form-label">uniqueNumber</label>
                              <input class="form-control" type="text" formControlName="uniqueNumber" id="uniqueNumber">
                            </div>
                            <div class="form-group">
                              <label for="quantity" class="col-form-label">quantity</label>
                              <input class="form-control" type="number" formControlName="quantity" id="quantity">
                            </div>
                            <div class="form-group">
                              <label for="buyPrice" class="col-form-label">buyPrice</label>
                              <input class="form-control" type="number" formControlName="buyPrice" id="buyPrice">
                            </div>
                            <div class="form-group">
                              <label for="sellPrice" class="col-form-label">sellPrice</label>
                              <input class="form-control" type="number" formControlName="sellPrice" id="sellPrice">
                            </div>
                            <div class="form-group">
                              <label for="expiredate" class="col-form-label">Expire Date</label>
                              <input class="form-control" type="date" formControlName="expiredate"
                                id="example-date-input">
                            </div>
                            <div class="form-group">
                              <label class="col-form-label">Select Tax</label>
                              <select class="custom-select" (change)="selectedTax($event)" formControlName="tax">
                                <option>none</option>
                                <option *ngFor="let tax of taxes" [ngValue]="tax">{{tax.name}}</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <label for="stateGST" class="col-form-label">stateGST</label>
                              <input class="form-control" type="number" formControlName="stateGST" id="stateGST">
                            </div>
                            <div class="form-group">
                              <label for="govtGST" class="col-form-label">govtGST</label>
                              govtGST<input class="form-control" type="number" formControlName="govtGST" id="govtGST">
                            </div>
                            <div class="form-group">
                              <label for="type" class="col-form-label">type</label>
                              <input class="form-control" type="text" formControlName="type" id="type">
                            </div>
                            <div class="form-check">
                              <input type="checkbox" class="form-check-input" formControlName="stockAlert"
                                id="stockAlert">
                              <label for="stockAlert" class="col-form-label">stockAlert</label>
                            </div>
                            <div class="form-check">
                              <input type="checkbox" class="form-check-input" formControlName="isTaxIncluded"
                                id="isTaxIncluded">
                              <label for="isTaxIncluded" class="col-form-label">Is TaxIncluded</label>
                            </div>
                            <div class="form-group" style="    margin-right: 50%;">
                              <button type="button" class="btn btn-flat btn-primary mb-3" disabled>Submit</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>