.container{
    background-color: #141515;
    width: 100%;
    height:100%;
    }

    .draggable-container {
      position: relative;
      

    }
    
    .draggable-container > div {
      height: 100px;
      width: 100px;
      cursor: move;
    }

    .product-table {
      background-color: #185862;
      color: #fff;
      width: 100%;
      border-collapse: collapse;
      /* margin-top: 20px; */
    }




    .fw-icons0 a {
      display: block;
      text-decoration: none;
      color: #333;
      position: relative;
  }

  .fw-icons0 i {
      margin-right: 5px; 
  }
  .fw-icons1 a {
    display: block;
    text-decoration: none;
    color: #333;
    position: relative;
}

.fw-icons1 i {
    margin-right: 5px; 
}
.fw-icons2 a {
  display: block;
  text-decoration: none;
  color: #333;
  position: relative;
}

.fw-icons2 i {
  margin-right: 5px; 
}
.fw-icons3 a {
  display: block;
  text-decoration: none;
  color: #333;
  position: relative;
}

.fw-icons3 i {
  margin-right: 5px; 
}

  .fw-icons0 a:hover::after {
      content: "Search By Barcode, ID, Name";
      position: absolute;
      top: 100%;
      left: 50%; 
      transform: translateX(-50%);
      background-color: rgb(59, 59, 108); 
      color: #fff; 
      padding: 2px;
      border-radius: 5px; 
      white-space: nowrap; 
      
  }
  .fw-icons1 a:hover::after {
      content: "Search By Barcode ";
      position: absolute;
      top: 100%;
      left: 50%; 
      transform: translateX(-50%);
      background-color: rgb(59, 59, 108); 
      color: #fff; 
      padding: 2px;
      border-radius: 5px; 
      white-space: nowrap; 
  }
  .fw-icons2 a:hover::after {
      content: "Search By ID ";
      position: absolute;
      top: 100%;
      left: 50%; 
      transform: translateX(-50%);
      background-color: rgb(59, 59, 108); 
      color: #fff; 
      padding: 2px;
      border-radius: 5px; 
      white-space: nowrap; 
  }
  .fw-icons3 a:hover::after {
      content: "Search By Name ";
      position: absolute;
      top: 100%;
      left: 50%; 
      transform: translateX(-50%);
      background-color: rgb(59, 59, 108); 
      color: #fff; 
      padding: 2px;
      border-radius: 5px; 
      white-space: nowrap; 
  }

  .selectedCss{
    background-color: rgb(172, 172, 255); 
  }

  .deselectedCss {
    
    color: 
    rgb(0, 0, 0);
  }


  .container-1{
    height: 100%;
    width:100%;
  }



.form-container {
  max-width: 600px; /* Adjust the maximum width as needed */
  margin: 0 auto;   /* Center the form on the screen */
}

.card {
  width: 100%;       /* Ensure the card takes full width of its container */
}

.form-group {
  margin-right: 50%; /* Adjust the right margin as needed */
}


/* Your existing styles */

/* Style for the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  outline: 0;
}

.modal.show {
  display: block;
}

.form-container{

  max-height: 500px;
  overflow-y: auto;
  padding: 10px;
}

.form-container1{

  max-height: 250px;
  max-width: 900px;
  overflow-y: auto;
  padding: 10px;
}

.form-container2{

  height: 500px;
  max-width: 900px;
  overflow-y: auto;
  padding: 10px;
}
