<div style="height: 100%;width: 100%;">
    <div class="container-1">
        <div class="col-12">
            <div class="card" >
                <div class="card-body">
                    <div class="row no-gutters">
                        <div class="col-sm-4" >
                            <div class=" grid-col">
                                <div class="ml-1" style="display: flex;">

                                    <h1>Items</h1>
                                </div>
                            </div>
                            <div class="main-content-inner" >
                                <div class="row" style="height: 200px;width: 475px;">

                                    Product list

                                </div>
                               Subtotal <br><br>
                            
                               Tax<br>
                               ----------------------------------------<br>
                               Total<br>
                               ----------------------------------------<br>
                               Cash

                            </div>
                        </div>

                        <div class="col-sm-8" >
                            <div class="grid-col"  >
                                <div>

                                   <h1>Actions</h1> 
                                </div>
                            </div>
                            <h3 style="text-align: center;">Change : 0.00</h3>
                            <h1 style="text-align: center;">How would the customer like their receipt ?</h1>
                            <br>
                            <br>
                            <div>
                                <div class="col-sm-4" style="float: left;">
                                    <div class="grid-col ti-printer ti-notepad">
                                     Print receipt
                                    </div>
                                </div>
                                <div class="col-sm-4" style="float: left;">
                                    <div class="grid-col ti-printer ">
                                      Print inovice
                                    </div>
                                </div>
                                <div class="col-sm-4" style="float: left;">
                                    <div class="grid-col ti-email">
                                       Send Email
                                    </div><br>
                                    <br>
                                </div>
                            </div>
                            <div class="col-sm-4" style="float: left;">
                                <div class="grid-col fa fa-file-pdf-o ">
                                                 Save as pdf
                                </div>
                            </div>
                            <div class="col-sm-4" style="float: left;">
                                <div class="grid-col fa fa-pencil">
                                    Add notes
                                </div>
                            </div>

                            
                            <div class="col-sm-8"  >

                               <div  style="float: right;"  class="mr-15">
                                <button style="float: right; " type="button" class="btn btn-flat btn-primary mb-3" disabled>DONE</button>
                               </div> 

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>