<div >
<!-- <div class="col-sm-4" style="width: auto;">
    <div class="grid-col">
        <input type="number" placeholder="Document number">

        <div class="dropdown col-lg-6 col-md-4 col-sm-6">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Dropdown button
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
</div> -->
<div class=" grid-col">
    
      <div class="fw-icons0 col-lg-1 col-sm-5"
        >
        <i class="fa fa-edit" ></i>
      </div>
      <div class="fw-icons0 col-lg-1 col-sm-5"
      >
        <i class="fa fa-asterisk" ></i>
      </div>
      <div class="fw-icons0 col-lg-1 col-sm-5"
       >
        <i class="fa fa-info" ></i>
      </div>
      <div class="fw-icons0 col-lg-1 col-sm-5"
       >
        <i class="fa fa-tag" ></i>
      </div>
      <div class="col-lg-2 clearfix">
        <input type="text" name="search" placeholder="    Search Products By Name, Code or Bar code">
      </div>
      
    </div>
  </div>


<div class="form-container">
    <div class="col-lg-6 mt-5">
        <div class="card" style="width: 1500px;">
            <div class="card-body">
                <h4 class="text-uppercase">Documents</h4>
                <div class="single-table">
                    <div class="table-responsive">
                        <table class="table text-center">
                            <thead class="text-uppercase bg-dark">
                                <tr class="text-white">
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">date</th>
                                    <th scope="col">price</th>
                                    <th scope="col">action</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>09 / 07 / 2018</td>
                                    <td>$120</td>
                                    <td><i class="ti-trash"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-container">
    <div class="col-lg-6 mt-5">
        <div class="card" style="width: 1500px;">
            <div class="card-body">
                <h4 class="text-uppercase">Documents</h4>
                <div class="single-table">
                    <div class="table-responsive">
                        <table class="table text-center">
                            <thead class="text-uppercase bg-dark">
                                <tr class="text-white">
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">date</th>
                                    <th scope="col">price</th>
                                    <th scope="col">action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>09 / 07 / 2018</td>
                                    <td>$120</td>
                                    <td><i class="ti-trash"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>