<div class="container">
    <div class="div0" >
        <div class=" col-sm-12">
            <div class="col-lg-1 col-md-6" style="float: left;">
                <div class="grid-col bg"></div>
            </div>
            <div class="col-lg-1 col-md-6" style="float: left;">
                <div class="grid-col bg">2</div>
            </div>
            <div class="col-lg-1 col-md-6" style="float: left;">
                <div class="grid-col bg">3</div>
            </div>
            <div class="col-lg-1 col-md-6" style="float: left;">
                <div class="grid-col bg">4</div>
            </div>
            <div class="col-lg-1 col-md-6" style="float: left;">
                <div class="grid-col bg">5</div>
            </div>
            <div class="col-lg-1 col-md-6 " style="float: left;">
                <div class="grid-col bg">6</div>
            </div>
            <div class="col-lg-1 col-md-6 " style="float: left;">
                <div class="grid-col bg">7</div>
            </div>
            <div class="col-lg-1 col-md-6 " style="float: left;">
                <div class="grid-col bg ">8</div>
            </div>
        </div>
    </div>
    <div style="background-color: rgb(40, 40, 40);height: 585px;width: 450px; float: left;padding-top:1px ;">

    </div>
    <div style="background-color:  rgb(40, 40, 40) ;height: 585px; width: 840px;float: right; ">
    </div>

   
   

</div>