<div class="container">
    <div class="div0">
        <div class=" col-sm-12">
            <div class="col-lg-1 col-md-6" style="float: left;">
                <div class="grid-col bg fa fa-refresh" style="text-align: left;"></div>
            </div>
            <div class="col-lg-1 col-md-6" style="float: left;">
                <div class="grid-col bg fa fa-history"></div>
            </div>
            <div class="col-lg-1 col-md-6" style="float: left;">
                <div class="grid-col bg fa fa-print"></div>
            </div>
            <div class="col-lg-1 col-md-6" style="float: left;">
                <div class="grid-col bg fa fa-file-pdf-o"></div>
            </div>
            <div class="col-lg-1 col-md-6" style="float: left;">
                <div class="grid-col bg fa fa-file-excel-o"></div>
            </div>
            <div class="col-lg-1 col-md-6 " style="float: left;">
                <div class="grid-col bg fa fa-list"></div>
            </div>
            <div class="col-lg-1 col-md-6 " style="float: left;">
                <div class="grid-col bg fa fa-sticky-note-o"></div>
            </div>
            <div class="col-lg-1 col-md-6 " style="float: left;">
                <div class="grid-col bg fa fa-question-circle"></div>
            </div>
           
        </div>
    </div>
    <div
        style="background-color: rgb(40, 40, 40);height: 585px;width: 450px; float: left;padding-top:1px;color: white;">
        pahila
    </div>
    <div style="background-color:  rgb(40, 40, 40) ;height: 585px; width: 840px;float: right; color: white; ">
        <div style="height: 20px;width: 635; border: 10px;border-color: rgb(255, 255, 255); background-color: red;">
            1st jkvdfj


        </div>
    </div>



    <button class="fullscreen-btn" (click)="toggleFullScreen()">Fullscreen</button>
</div>