<div>
    <h1>INVOICE</h1>
    <br>
    <br><br><br>
    <div>
        -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

    </div>

    <div>
        <div style="float: left; width: 1150px;">
            <table>
                <tr>
                    <th>Bill To    :  </th>
                    <td> Samarth</td>
                </tr>
            </table>

        </div>
        <div style="float: left;">
            <table class="table1">
                <tbody>
                    <tr>
                        <th class="th1">Invoice No.:</th>
                        <td class="td1">12345678</td>
                    </tr>
                    <tr>
                        <th class="th1">Date:</th>
                        <td class="td1">19/01/2024</td>
                    </tr>
                    <tr>
                        <th class="th1">Due Date:</th>
                        <td class="td1">25/01/2024</td>
                    </tr>
                    <tr>
                        <th class="th1">Payment status:</th>
                        <td class="td1">Paid</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <br>
        <br>

        <table class="table text-center">
            <thead class="text-uppercase bg-dark">
                <tr class="text-white">
                    <th scope="col">ID</th>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col">Tax </th>
                    <th scope="col">Discount</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>ART-line</td>
                    <td>50</td>
                    <td>132</td>
                    <td>22</td>
                    <td>600</td>
                    <td>6000</td>

                </tr>
            </tbody>
        </table>
        <div style="float:right;" class="mr-5">
            <table class="table1">
                <tbody>
                    <tr>
                        <th class="th1">Discount (50%)</th>
                        <td class="td1">3300</td>
                    </tr>
                    <tr>
                        <th class="th1">Total</th>
                        <td class="td1">3300</td>
                    </tr>
                    ------------------<br>
                    <div style="float: right;">Payment method:</div>
                    <tr>
                        <th class="th1">Cash</th>
                        <td class="td1">300</td>
                    </tr>
                    <tr>
                        <th class="th1">Paid Amount</th>
                        <td class="td1">300</td>
                    </tr>
                    <tr>
                        <th class="th1">Amount Due</th>
                        <td class="td1">3000</td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>


</div>