<div style="height: 100%;width: 100%;">
  <div class="container-1">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row no-gutters">
            <div [ngClass]="isCollapse==false ? 'col-sm-7':'col-sm-12'">
              <div class="grid-col">
                <div class="ml-1" style="display: flex;">

                  <div class="fw-icons0 col-lg-1 col-sm-5"
                    [ngClass]="selectedType=='Delete'? 'selectedCss':'deselectedCss'">
                    <i class="fa fa-trash-o" (click)="openDeleteConfirmationModal()"></i>
                    <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isDeleteModalVisible}">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Confirm Deletion</h5>
                            <button type="button" class="close" aria-label="Close" (click)="closeDeleteConfirmationModal()">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            Are you sure you want to delete this product?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" (click)="closeDeleteConfirmationModal()">Cancel</button>
                            <button type="button" class="btn btn-danger" (click)="Delete()">Delete</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="fw-icons0 col-lg-1 col-sm-5"
                    [ngClass]="selectedType=='Edit'? 'selectedCss':'deselectedCss'">
                    <i class="fa fa-edit" (click)="Edit()"></i>
                  </div>
                  <div class="fw-icons0 col-lg-1 col-sm-5" [ngClass]="selectedType=='all'? 'selectedCss':'deselectedCss'">
                    <i class="fa fa-asterisk" (click)="byALlSearch()"></i>
                  </div>
                  <div class="fw-icons0 col-lg-1 col-sm-5"
                    [ngClass]="selectedType=='id'? 'selectedCss':'deselectedCss'">
                    <i class="fa fa-info" (click)="byid()"></i>
                  </div>

                  <div class="fw-icons0 col-lg-1 col-sm-5"
                    [ngClass]="selectedType=='name'? 'selectedCss':'deselectedCss'">
                    <i class="fa fa-tag" (click)="byname()"></i>
                  </div>
                  <div class="col-lg-2 clearfix">
                    <div class="search-box">
                      <form (ngSubmit)="getCustomer()">
                        <input type="text" name="search" placeholder="    Search Products By Name, Code or Bar code "
                          [(ngModel)]="searchValue" required>
                        <i class=" ti-search col-lg-11 "></i>
                      </form>
                    </div>

                  </div>
                  <div *ngIf="isCollapse==false" class="fw-icons0 col-lg-1 col-sm-5" style="margin-left: 35%;"
                    [ngClass]="selectedType=='id'? 'selectedCss':'deselectedCss'">
                    <i class="fa fa-arrow-circle-right" (click)="collapse(true)"></i>
                  </div>
                  <div *ngIf="isCollapse!=false" class="fw-icons0 col-lg-1 col-sm-5" style="margin-left: 35%;"
                    [ngClass]="selectedType=='id'? 'selectedCss':'deselectedCss'">
                    <i class="fa fa-arrow-circle-left" (click)="collapse(false)"></i>
                  </div>


                </div>


              </div>
              <div class="main-content-inner">
                <div class="row">
                  <!-- table primary start -->
                  <div>
                    <div class="card ">
                      <div class="card-body">
                        <div class="single-table">
                          <div class="table-responsive">
                            <table class="table text-center">
                              <thead class="text-uppercase bg-primary mb-3">
                                <tr class="text-white">
                                  <th scope="col">ID</th>
                                  <th scope="col">Name</th>
                                  <th scope="col">Contact Number</th>
                                  <th scope="col">EmailId</th>
                                  <th scope="col">Address</th>
                                  <th scope="col">Type</th>
                                </tr>
                              </thead>
                              <tbody *ngIf="customers.length>0">
                                <tr *ngFor="let cust of customers ;let indexOfelement=index;"
                                  (click)="selectedCustomerRow(indexOfelement,cust)">
                                  <td [ngClass]="selectedRow==indexOfelement? 'selectedCss':'deselectedCss'">
                                    {{cust?.id}}</td>
                                  <td [ngClass]="selectedRow==indexOfelement? 'selectedCss':'deselectedCss'">
                                    {{cust?.name}}</td>
                                  <td [ngClass]="selectedRow==indexOfelement? 'selectedCss':'deselectedCss'">
                                    {{cust?.contactNumber}}</td>
                                  <td [ngClass]="selectedRow==indexOfelement? 'selectedCss':'deselectedCss'">
                                    {{cust?.emailId}}</td>
                                    <td [ngClass]="selectedRow==indexOfelement? 'selectedCss':'deselectedCss'">
                                      {{cust?.address}}</td>
                                      <td [ngClass]="selectedRow==indexOfelement? 'selectedCss':'deselectedCss'">
                                        {{cust?.type}}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- table primary end -->
                </div>
              </div>
            </div>
            <div class="col-sm-5" *ngIf="isCollapse==false">
              <div class="grid-col">

                <div>
                  <div class="card ">
                    <div class="card-body">
                      <div class="card-body">
                        <h4 class="header-title">Add Customer</h4>
                        <form [formGroup]="customerForm " (ngSubmit)="savecustomer()">
                          <div class="form-group">
                            <label for="name" class="col-form-label">Name</label>
                            <input class="form-control" type="text" formControlName="name" id="name">
                          </div>
                          <div class="form-group">
                            <label for="contactNumber" class="col-form-label">contactNumber</label>
                            <input class="form-control" type="number" formControlName="contactNumber"
                              id="contactNumber">
                          </div>
                          <div class="form-group">
                            <label for="emailId" class="col-form-label">emailId</label>
                            <input class="form-control" type="text" formControlName="emailId" id="emailId">
                          </div>
                          <div class="form-group">
                            <label for="address" class="col-form-label">address</label>
                            <input class="form-control" type="text" formControlName="address" id="address">
                          </div>
                          <div class="form-group">
                            <label for="dateOfBirth" class="col-form-label">dateOfBirth</label>
                            <input class="form-control" type="datetime-local" formControlName="dateOfBirth"
                              id="dateOfBirth">
                          </div>
                          <div class="form-group">
                            <label for="type" class="col-form-label">type</label>
                            <input class="form-control" type="text" formControlName="type" id="type">
                          </div>
                          <div class="form-group" style="    margin-right: 50%;">
                            <button type="submit">Submit</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>